{% extends 'templates/base/base.html' %}
{% load static %}

{% block head-title %}
    All Courses
{% endblock head-title %}



{% block content %}
<div class="container">

    <div class="controler my-3 d-flex flex-wrap align-items-centers">
        <p class="inner-title fs-4 fw-bold text-dark wow slideInLeft" data-wow-duration="1s">Filter:</p>
        <div class="dropdown dropdown__effect px-2 wow slideInLeft" data-wow-duration="1s">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Sort By Prices
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'all_courses' slug='prices_asc' %}">Prices Asc</a></li>
                <li><a class="dropdown-item" href="{% url 'all_courses' slug='prices_desc' %}">Prices Desc</a></li>
            </ul>
        </div>
        <div class="dropdown dropdown__effect px-2 wow slideInLeft" data-wow-duration="1s">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Sort By Levels
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% url 'all_courses' slug='beginner' %}">Beginner</a></li>
                <li><a class="dropdown-item" href="{% url 'all_courses' slug='intermediate' %}">Intermediate</a></li>
                <li><a class="dropdown-item" href="{% url 'all_courses' slug='expert' %}">Expert</a></li>
                <li><a class="dropdown-item" href="{% url 'all_courses' slug='master' %}">Master</a></li>
                <li><a class="dropdown-item" href="{% url 'all_courses' slug='advanced' %}">Advanced</a></li>
            </ul>
        </div>
    </div>
    <div class="row row-col-xl-3 row-col-lg-3 row-cols-md-2 row-cols-1">
        {% for item in data %}
        <div class="col-xl-4 col-lg-6 col-md-6 col-12 mb-3 wow fadeIn
        " data-wow-duration="2s">
            <div class="inner-card card">
                <img src="if {% static 'images/sec-1.jpg' %}" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <div class="intro-courses mb-1">
                        <div class="item p-2 rounded">
                            <p class="my-auto"><span class="fw-bold fs-5 text-dark">Name Course: </span>{{item.title}}
                            </p>
                        </div>
                        <div class="item p-2 rounded">
                            <p class="my-auto"><span class="fw-bold fs-5 text-dark">Category:
                                </span>{{item.category_names}}</p>
                        </div>
                        <div class="item p-2 rounded">
                            <p class="card-text my-auto"><span class="fw-bold fs-5 text-dark">Description:
                                </span>{{item.description}}</p>
                        </div>
                        <div class="item p-2 rounded">
                            <p class="card-text my-auto"><span class="fw-bold fs-5 text-dark">Created Date:
                                </span>{{item.created_at|date}}</p>
                        </div>
                        <div class="item p-2 rounded">
                            <p class="card-text my-auto"><span class="fw-bold fs-5 text-dark">Price:
                                </span>{{item.price}}</p>
                        </div>
                    </div>
                    <div class="btn-cta text-end">
                        <a href="#" class="btn btn-primary">Enroll Now</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}