
{% load static %}

<div class="col-xl-4 col-lg-6 col-md-6 col-12 mb-3 wow slideInRight" data-wow-duration="1s">
                <div class="inner-card card">
                    <img src="{% static 'images/sec-1.jpg' %}" alt="" class="card-img-top img-fluid">
                    <div class="card-body">
                        <div class="categories d-flex mb-3">
                            <div class="item p-2 rounded">
                                <p class="my-auto">Web Design</p>
                            </div>
                            <div class="item p-2 rounded">
                                <p class="my-auto">Java</p>
                            </div>
                        </div>
                        <p class="card-text my-4">Learn app development in 30 days.</p>
                        <div class="info-course mb-3">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-6 mb-2">
                                    <div class="inner-icon d-flex justify-content-start justify-content-xl-around">
                                        <div class="wrap-icon w-cus rounded-circle bg-cus text-center p-3">
                                            <i class="fa-regular fa-user d-inline-block my-auto m-0 w-icon"
                                                style="color: #75BFC9;"></i>
                                        </div>
                                        <p class="my-3 mx-2">500k+</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-6 mb-2">
                                    <div class="inner-icon d-flex justify-content-start justify-content-xl-around">
                                        <div class="wrap-icon w-cus rounded-circle bg-cus text-center p-3">
                                            <i class="fa-solid fa-star d-inline-block m-0  w-icon"
                                                style="color: #D8ABA4;"></i>
                                        </div>
                                        <p class="my-3 mx-2">4.9</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-6 mb-2">
                                    <div class="inner-icon d-flex justify-content-start justify-content-xl-around">
                                        <div class="wrap-icon w-cus rounded-circle bg-cus text-center p-3">
                                            <i class="fa-solid fa-dollar-sign d-inline-block m-0  w-icon"
                                                style="color: #D8ABA4;"></i>
                                        </div>
                                        <p class="my-3 mx-2">$105.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-cta text-end">
                            <a href="#" class="btn btn-primary">Enroll Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12 mb-3 wow slideInRight" data-wow-duration="2s">
                <div class="inner-card card">
                    <img src="{% static 'images/sec-1.jpg' %}" alt="" class="card-img-top img-fluid">
                    <div class="card-body">
                        <div class="categories d-flex mb-3">
                            <div class="item p-2 rounded">
                                <p class="my-auto">Web Design</p>
                            </div>
                            <div class="item p-2 rounded">
                                <p class="my-auto">Java</p>
                            </div>
                        </div>
                        <p class="card-text my-4">Learn app development in 30 days.</p>
                        <div class="info-course mb-3">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-6 mb-2">
                                    <div class="inner-icon d-flex justify-content-start justify-content-xl-around">
                                        <div class="wrap-icon w-cus rounded-circle bg-cus text-center p-3">
                                            <i class="fa-regular fa-user d-inline-block my-auto m-0 w-icon"
                                                style="color: #75BFC9;"></i>
                                        </div>
                                        <p class="my-3 mx-2">500k+</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-6 mb-2">
                                    <div class="inner-icon d-flex justify-content-start justify-content-xl-around">
                                        <div class="wrap-icon w-cus rounded-circle bg-cus text-center p-3">
                                            <i class="fa-solid fa-star d-inline-block m-0  w-icon"
                                                style="color: #D8ABA4;"></i>
                                        </div>
                                        <p class="my-3 mx-2">4.9</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-6 mb-2">
                                    <div class="inner-icon d-flex justify-content-start justify-content-xl-around">
                                        <div class="wrap-icon w-cus rounded-circle bg-cus text-center p-3">
                                            <i class="fa-solid fa-dollar-sign d-inline-block m-0  w-icon"
                                                style="color: #D8ABA4;"></i>
                                        </div>
                                        <p class="my-3 mx-2">$105.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-cta text-end">
                            <a href="#" class="btn btn-primary">Enroll Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-12 mb-3 wow slideInRight" data-wow-duration="3s">
                <div class="inner-card card">
                    <img src="{% static 'images/sec-1.jpg' %}" alt="" class="card-img-top img-fluid">
                    <div class="card-body">
                        <div class="categories d-flex mb-3">
                            <div class="item p-2 rounded">
                                <p class="my-auto">Web Design</p>
                            </div>
                            <div class="item p-2 rounded">
                                <p class="my-auto">Java</p>
                            </div>
                        </div>
                        <p class="card-text my-4">Learn app development in 30 days.</p>
                        <div class="info-course mb-3">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-6 mb-2">
                                    <div class="inner-icon d-flex justify-content-start justify-content-xl-around">
                                        <div class="wrap-icon w-cus rounded-circle bg-cus text-center p-3">
                                            <i class="fa-regular fa-user d-inline-block my-auto m-0 w-icon"
                                                style="color: #75BFC9;"></i>
                                        </div>
                                        <p class="my-3 mx-2">500k+</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-6 mb-2">
                                    <div class="inner-icon d-flex justify-content-start justify-content-xl-around">
                                        <div class="wrap-icon w-cus rounded-circle bg-cus text-center p-3">
                                            <i class="fa-solid fa-star d-inline-block m-0  w-icon"
                                                style="color: #D8ABA4;"></i>
                                        </div>
                                        <p class="my-3 mx-2">4.9</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-4 col-6 mb-2">
                                    <div class="inner-icon d-flex justify-content-start justify-content-xl-around">
                                        <div class="wrap-icon w-cus rounded-circle bg-cus text-center p-3">
                                            <i class="fa-solid fa-dollar-sign d-inline-block m-0  w-icon"
                                                style="color: #D8ABA4;"></i>
                                        </div>
                                        <p class="my-3 mx-2">$105.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-cta text-end">
                            <a href="#" class="btn btn-primary">Enroll Now</a>
                        </div>
                    </div>
                </div>
            </div>
