{% extends 'templates/base/base.html' %}
{% load static %}

{% block head-title %}
Wallet
{% endblock head-title %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user/budget.css' %}">
{% endblock %}

{% block content %}
{% if check_budget == 1 %}
<div class="container wallet">
    <div class="row align-items-center">
        <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <div class="inner-card py-4 text-center position-relative">
                <img src="../../../static/images/user_login/wallet/card_wallet.jpg" alt="" class="img-fluid img-cus">
                <span class="current-money m-0 position-absolute">{{current_money}}$</span>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <div class="inner-form py-4 px-5">
                <form action="{% url 'wallet' params='deposit-budget' %}" method="post" class="">
                    {% csrf_token %}
                    <div class="mb-2">
                        <label for="inputMoney" class="form-label text-dark fw-bold fs-3 text-center w-100">Type
                            Money:</label>
                        <input type="number" class="form-control" id="inputMoney" name="money">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary w-50">Recharge</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>
{% else %}
<div class="container wallet d-flex justify-content-center">
    <form action="{% url 'wallet' params='create-budget' %}" method="post" class="w-cus">
        {% csrf_token %}
        <div class="mb-2">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="email">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary w-50">Open Wallet</button>
        </div>
    </form>
</div>
{% endif %}
{% endblock content %}