{% extends 'templates/base/nav.html' %}
{% load static %}

{% block log-out %}

{% if log_decision %}
<div class="inner-btn d-xl-flex d-lg-flex d-md-flex d-sm-flex d-flex justify-content-end h-100 pt-3">
    <button class="btn btn-sign-in" data-bs-toggle="modal" data-bs-target="#modal-sign-in">
        <p class="mb-0 color-btn-sign-in fw-bold">Sign in</p>
    </button>

    <!-- Button Sign up -->
    <button class="btn btn-register w-50" data-bs-toggle="modal" data-bs-target="#modal-register">
        <p class="mb-0 text-white">Sign up</p>
    </button>
</div>
{% else %}
<div class="inner-wrap user-login py-3">
    <div class="dropdown text-end">
        <button class="btn rounded-pill btn-cus" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{object_data}}
        </button>
        <ul class="dropdown-menu w-50" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item d-block d-flex px-0 align-items-center justify-content-around" href="{% url 'cart' slug='get-registered-course' reg_id='0' %}">
                    <span class="d-inline-block w-25 text-center"><i class="fa-solid fa-cart-shopping"></i></span>
                    <span class="d-inline-block w-25 text-center">Cart</span>
                    <span class="quantity d-inline-block">{{num_cart}}</span>
                </a></li>
            <li><a class="dropdown-item d-block d-flex px-0 align-items-center justify-content-around" href="{% url 'profile' %}">
                    <span class="d-inline-block w-25 text-center"><i class="fa-solid fa-user"></i></span>
                    <span class="d-inline-block w-25 text-center">Profile</span>
                    <span class="w-25"></span>
                </a></li>
            <li><a class="dropdown-item d-block d-flex px-0 align-items-center justify-content-around" href="{% url 'wallet' params='action-index' %}">
                    <span class="d-inline-block w-25 text-center"><i class="fa-solid fa-wallet"></i></span>
                    <span class="d-inline-block w-25 text-center">Wallet</span>
                    <span class="w-25"></span>
                </a></li>
            <li><a class="dropdown-item d-block d-flex px-0 align-items-center justify-content-around" href="{% url 'index' %}">
                    <span class="d-inline-block w-25 text-center"><i class="fa-solid fa-sign-out"></i></span>
                    <span class="d-inline-block w-25 text-center">Log out</span>
                    <span class="w-25"></span>
                </a></li>
        </ul>
    </div>
</div>
{% endif %}

{% if mess_error %}

{% endif %}



{% endblock log-out %}

{% block modal-logout %}
<!-- Modal Sign in -->
<div class="modal fade bg-wrap" id="modal-sign-in" tabindex="-1" aria-labelledby="modal-sign-inLabel"
    aria-hidden="true">
    <div class="modal-dialog position-absolute top-custom">
        <div class="modal-content modal-config">
            <div class="modal-header">
                <h4 class="modal-title text-center w-75 text-dark" id="modal-sign-inLabel">
                    Welcome to my page
                </h4>
                <button type="button" class="btn-close rounded-circle bg-white rounded-thumbnail mx-auto"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form action="/" method="post">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label for="formInputEmail1" class="form-label">Email
                                address</label>
                            <input type="email" class="form-control" id="formInputEmail1" aria-describedby="emailHelp"
                                name="email">
                        </div>
                        <div class="mb-2">
                            <label for="formInputPassword" class="form-label">Password</label>
                            <input type="password" class="form-control" id="formInputPassword" name="password">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary w-50">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal Sign up-->
<div class="modal fade bg-wrap" id="modal-register" tabindex="-1" aria-labelledby="modal-registerLabel"
    aria-hidden="true">
    <div class="modal-dialog position-absolute pos-custom">
        <div class="modal-content modal-config">
            <div class="modal-header">
                <h4 class="modal-title text-center w-75 text-dark" id="modal-registerLabel">
                    Welcome to my
                    page</h4>
                <button type="button" class="btn-close rounded-circle bg-white rounded-thumbnail mx-auto"
                    data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form method="post" action="{% url 'index' %}">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label for="formInputName" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="formInputName" name="username">
                        </div>
                        <div class="mb-2">
                            <label for="formInputEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="formInputEmail" aria-describedby="emailHelp"
                                name="email">
                        </div>
                        <div class="mb-2">
                            <label for="pw" class="form-label">Password</label>
                            <input type="password" class="form-control" id="pw" name="password">
                        </div>
                        <div class="mb-2">
                            <label for="formInputPasswordAgain" class="form-label">Password Again</label>
                            <input type="password" class="form-control" id="formInputPasswordAgain"
                                name="passwordAgain">
                        </div>

                        <div class="mb-2">
                            <div class="form-inline">
                                <label class="my-1 mr-2" for="chooseRole">Preference</label>
                                <select class="custom-select my-1 mr-sm-2" id="chooseRole" name="role">
                                    <option value="user">User</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-2" id="codeConfirm">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary w-50">Sign up</button>
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>
</div>
{% endblock modal-logout %}