{% extends 'templates/base/base.html' %}
{% load static %}

{% block head-title %}
    K-Lop Web Course
{% endblock head-title %}
    

{% block content %}
<section class="sec-1 my-5 py-5">
    <div class="container py-xl-5 py-lg-5 py-3">
        <div class="row">
            <div class="col-xl-6 col-sm-12 wow slideInLeft" data-wow-duration="2s">
                <div class="inner-wrap">
                    <div class="inner-content mx-auto text-sm-center text-xl-start text-lg-start text-md-start">
                        <p class="inner-title text-dark fw-normal w-100 fw-bold d-block">Getting <span
                                class="word-special">Quality</span> Education Is Now More <span
                                class="word-special">Easy</span></p>
                        <p class="inner-desc">Provides you width the lastest online learning system and material
                            that help your knowledge growing.</p>
                    </div>

                    <div
                        class="inner-btn btn-group w-100 justify-content-sm-around justify-content-lg-start justify-content-md-start mt-3">
                        <div class="wrap-btn w-1"><a class="btn btn-custom w-100 text-white btn-1 d-inline-block h-100 fs-5 pt-2">Get
                                Started</a></div>
                        <div class="wrap-btn w-2"><a class="btn btn-custom w-100 btn-2 d-inline-block h-100 fs-5 pt-2">Get Free
                                Trial</a></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 mt-xl-0 mt-lg-5 mt-4 wow slideInRight" data-wow-duration="2s">
                <div class="inner-img h-100 px-xl-5 px-3">
                    <img src="{% static 'images/sec-1.jpg' %}" alt=""
                        class="img-fluid rounded-pill my-xl-4 my-0 d-inline-block h-75 w-100">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-2 my-5 wow bounceInDown py-5" data-wow-duration="1s">
    <div class="container bg-wrap rounded-3">
        <div class="row py-4">
            <div class="col-xl-4 wow slideInLeft" data-wow-duration="3.5s">
                <div
                    class="inner-item-1 d-flex justify-content-xl-start justify-content-lg-center justify-content-md-center justify-content-center">
                    <div class="inner-img w-50 text-center">
                        <img src="{% static 'images/sec-1.jpg' %}" alt="" class="img-fluid w-75 rounded-3">
                    </div>
                    <div class="inner-content">
                        <p class="inner-num fs-1 fw-bold color__num">10k+</p>
                        <p class="inner-desc fw-normal">TOTAL COURSES</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mt-xl-0 mt-5 wow slideInLeft" data-wow-duration="3s">
                <div class="inner-item-1 d-flex justify-content-center">
                    <div class="inner-img w-50 text-center">
                        <img src="{% static 'images/sec-1.jpg' %}" alt="" class="img-fluid w-75 rounded-3">
                    </div>
                    <div class="inner-content">
                        <p class="inner-num fs-1 fw-bold color__num">10k+</p>
                        <p class="inner-desc fw-normal">TOTAL COURSES</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mt-xl-0 mt-5 wow slideInLeft" data-wow-duration="2s">
                <div class="inner-item-1 d-flex justify-content-center">
                    <div class="inner-img w-50 text-center">
                        <img src="{% static 'images/sec-1.jpg' %}" alt="" class="img-fluid w-75 rounded-3">
                    </div>
                    <div class="inner-content">
                        <p class="inner-num fs-1 fw-bold color__num">10k+</p>
                        <p class="inner-desc fw-normal">TOTAL COURSES</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-3">
    <div class="container">
        <div class="row row__first wow slideInRight" data-wow-duration="2s">
            <div class="col-xl-8 text-lg-center text-xl-start">
                <p class="inner-title text-dark">Explore courses by category</p>
                <p class="inner-desc fs-5">Browse top class course by browsing our category which will be more
                    easy for you.</p>
            </div>
            <div class="col-xl-4 align-items-end d-flex justify-content-end justify-content-lg-center">
                <a class="btn btn-primary py-2 btn__config rounded-pill">All Category</a>
            </div>
        </div>
        <div class="row row__second mt-5 wow slideInLeft" data-wow-duration="2s">
            <div class="col-xl-4 mt-xl-0 mt-4 col-lg-6 col-md-6 col-12">
                <div class="inner-content d-flex py-3 bg-white rounded-3">
                    <div class="inner-wrap w-50 px-3 py-2">
                        <div
                            class="inner-icon text-white h-100 rounded-3 d-flex justify-content-center align-items-center">
                            <div class="bd-wrap-sec-3 position-relative w-50 h-50">
                                <i class="fa-solid fa-pen fs-1 d-block position-absolute"></i>
                            </div>

                        </div>
                    </div>

                    <div class="inner-text">
                        <p class="inner-title">Design & Development</p>
                        <p class="inner-desc">250+ courses available</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mt-xl-0 mt-4 col-lg-6 col-md-6 col-12">
                <div class="inner-content d-flex py-3 bg-white rounded-3">
                    <div class="inner-wrap w-50 px-3 py-2">
                        <div
                            class="inner-icon text-white h-100 rounded-3 d-flex justify-content-center align-items-center">
                            <div class="bd-wrap-sec-3 position-relative w-50 h-50">
                                <i class="fa-solid fa-pen fs-1 d-block position-absolute"></i>
                            </div>

                        </div>
                    </div>

                    <div class="inner-text">
                        <p class="inner-title">Design & Development</p>
                        <p class="inner-desc">250+ courses available</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mt-xl-0 mt-4 col-lg-6 col-md-6 col-12">
                <div class="inner-content d-flex py-3 bg-white rounded-3">
                    <div class="inner-wrap w-50 px-3 py-2">
                        <div
                            class="inner-icon text-white h-100 rounded-3 d-flex justify-content-center align-items-center">
                            <div class="bd-wrap-sec-3 position-relative w-50 h-50">
                                <i class="fa-solid fa-pen fs-1 d-block position-absolute"></i>
                            </div>

                        </div>
                    </div>

                    <div class="inner-text">
                        <p class="inner-title">Design & Development</p>
                        <p class="inner-desc">250+ courses available</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row__second mt-5 wow slideInLeft" data-wow-duration="2s">
            <div class="col-xl-4 mt-xl-0 mt-4 col-lg-6 col-md-6 col-12">
                <div class="inner-content d-flex py-3 bg-white rounded-3">
                    <div class="inner-wrap w-50 px-3 py-2">
                        <div
                            class="inner-icon text-white h-100 rounded-3 d-flex justify-content-center align-items-center">
                            <div class="bd-wrap-sec-3 position-relative w-50 h-50">
                                <i class="fa-solid fa-pen fs-1 d-block position-absolute"></i>
                            </div>

                        </div>
                    </div>

                    <div class="inner-text">
                        <p class="inner-title">Design & Development</p>
                        <p class="inner-desc">250+ courses available</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mt-xl-0 mt-4 col-lg-6 col-md-6 col-12">
                <div class="inner-content d-flex py-3 bg-white rounded-3">
                    <div class="inner-wrap w-50 px-3 py-2">
                        <div
                            class="inner-icon text-white h-100 rounded-3 d-flex justify-content-center align-items-center">
                            <div class="bd-wrap-sec-3 position-relative w-50 h-50">
                                <i class="fa-solid fa-pen fs-1 d-block position-absolute"></i>
                            </div>

                        </div>
                    </div>

                    <div class="inner-text">
                        <p class="inner-title">Design & Development</p>
                        <p class="inner-desc">250+ courses available</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 mt-xl-0 mt-4 col-lg-6 col-md-6 col-12">
                <div class="inner-content d-flex py-3 bg-white rounded-3">
                    <div class="inner-wrap w-50 px-3 py-2">
                        <div
                            class="inner-icon text-white h-100 rounded-3 d-flex justify-content-center align-items-center">
                            <div class="bd-wrap-sec-3 position-relative w-50 h-50">
                                <i class="fa-solid fa-pen fs-1 d-block position-absolute"></i>
                            </div>

                        </div>
                    </div>

                    <div class="inner-text">
                        <p class="inner-title">Design & Development</p>
                        <p class="inner-desc">250+ courses available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-4 bg-sec-4">
    <div class="container">
        <div class="row row__first mb-5 wow bounceIn" data-wow-duration="2s">
            <div class="col-xl-8 text-lg-center text-xl-start">
                <p class="inner-title text-dark">Explore courses by category</p>
                <p class="inner-desc fs-5">Browse top class course by browsing our category which will be more
                    easy for you.</p>
            </div>
            <div class="col-xl-4 align-items-end d-flex justify-content-end justify-content-lg-center">
                <a class="btn btn-primary p-2 btn__config rounded-pill">All Category</a>
            </div>
        </div>
        <div class="row row__second">
            
            {% include 'templates/courses/listCourses.html'%}
                
        </div>
</section>
<section class="sec-5 py-5">
    <div class="container py-5">
        <div class="row row__first mb-3 wow bounceIn" data-wow-duration="2s">
            <div class="col-xl-6 col-12">
                <p class="fs-1 fw-bold text-dark">What our student are saying about us</p>
            </div>
            <div class="col-xl-6 col-12">
                <p class="text-secondary">You learn today and earn tomorrow. The roots of education are bitter
                    but the fruits are sweet. If you learn you can lead tomorrow. See what our students are
                    saying.</p>
            </div>
        </div>
        <div class="slider row row__second container-fluid wow bounceIn" data-wow-duration="3s">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 p-2">
                <div class="card p-4">
                    <div class="inner-wrap">
                        <p class="inner-title text-dark fw-bold fs-5">Great platform</p>
                        <div class="inner-content d-flex">
                            <div class="inner-icon">
                                <i class="fa-solid fa-quote-left p-2 rounded-circle bg-icon"></i>
                            </div>
                            <div class="inner-content mx-3">
                                <p class="inner-desc pb-3">Circuit has helped me expand my knowledge through
                                    several
                                    important courses that are extreme impactfull and helpfull for my career.
                                    For the first time, finishing my degree seemed realistic.</p>
                                <div class="inner-img d-flex">
                                    <img src="{% static 'images/sec-1.jpg' %}" alt=""
                                        class="img-fluid rounded-circle w-25 d-inline-block">
                                    <div class="inner-rate mx-2">
                                        <p class="name-author fw-bold fs text-dark m-0">Joe Root</p>
                                        <div class="icon-star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 p-2">
                <div class="card p-4">
                    <div class="inner-wrap">
                        <p class="inner-title text-dark fw-bold fs-5">Great platform</p>
                        <div class="inner-content d-flex">
                            <div class="inner-icon">
                                <i class="fa-solid fa-quote-left p-2 rounded-circle bg-icon"></i>
                            </div>
                            <div class="inner-content mx-3">
                                <p class="inner-desc pb-3">Circuit has helped me expand my knowledge through
                                    several
                                    important courses that are extreme impactfull and helpfull for my career.
                                    For the first time, finishing my degree seemed realistic.</p>
                                <div class="inner-img d-flex">
                                    <img src="{% static 'images/sec-1.jpg' %}" alt=""
                                        class="img-fluid rounded-circle w-25 d-inline-block">
                                    <div class="inner-rate mx-2">
                                        <p class="name-author fw-bold fs text-dark m-0">Joe Root</p>
                                        <div class="icon-star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 p-2">
                <div class="card p-4">
                    <div class="inner-wrap">
                        <p class="inner-title text-dark fw-bold fs-5">Great platform</p>
                        <div class="inner-content d-flex">
                            <div class="inner-icon">
                                <i class="fa-solid fa-quote-left p-2 rounded-circle bg-icon"></i>
                            </div>
                            <div class="inner-content mx-3">
                                <p class="inner-desc pb-3">Circuit has helped me expand my knowledge through
                                    several
                                    important courses that are extreme impactfull and helpfull for my career.
                                    For the first time, finishing my degree seemed realistic.</p>
                                <div class="inner-img d-flex">
                                    <img src="{% static 'images/sec-1.jpg' %}" alt=""
                                        class="img-fluid rounded-circle w-25 d-inline-block">
                                    <div class="inner-rate mx-2">
                                        <p class="name-author fw-bold fs text-dark m-0">Joe Root</p>
                                        <div class="icon-star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 p-2">
                <div class="card p-4">
                    <div class="inner-wrap">
                        <p class="inner-title text-dark fw-bold fs-5">Great platform</p>
                        <div class="inner-content d-flex">
                            <div class="inner-icon">
                                <i class="fa-solid fa-quote-left p-2 rounded-circle bg-icon"></i>
                            </div>
                            <div class="inner-content mx-3">
                                <p class="inner-desc pb-3">Circuit has helped me expand my knowledge through
                                    several
                                    important courses that are extreme impactfull and helpfull for my career.
                                    For the first time, finishing my degree seemed realistic.</p>
                                <div class="inner-img d-flex">
                                    <img src="{% static 'images/sec-1.jpg' %}" alt=""
                                        class="img-fluid rounded-circle w-25 d-inline-block">
                                    <div class="inner-rate mx-2">
                                        <p class="name-author fw-bold fs text-dark m-0">Joe Root</p>
                                        <div class="icon-star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 p-2">
                <div class="card p-4">
                    <div class="inner-wrap">
                        <p class="inner-title text-dark fw-bold fs-5">Great platform</p>
                        <div class="inner-content d-flex">
                            <div class="inner-icon">
                                <i class="fa-solid fa-quote-left p-2 rounded-circle bg-icon"></i>
                            </div>
                            <div class="inner-content mx-3">
                                <p class="inner-desc pb-3">Circuit has helped me expand my knowledge through
                                    several
                                    important courses that are extreme impactfull and helpfull for my career.
                                    For the first time, finishing my degree seemed realistic.</p>
                                <div class="inner-img d-flex">
                                    <img src="{% static 'images/sec-1.jpg' %}" alt=""
                                        class="img-fluid rounded-circle w-25 d-inline-block">
                                    <div class="inner-rate mx-2">
                                        <p class="name-author fw-bold fs text-dark m-0">Joe Root</p>
                                        <div class="icon-star">
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-6">
    <div class="container pb-5">
        <div class="inner-wrap">
            <div class="inner-head text-center wow slideInLeft" data-wow-duration="2s">
                <p class="inner-title fs-2 fw-bolder text-dark">Subscribe Now</p>
                <p class="inner-desc w-75 mx-auto">You learn today and earn tomorrow. The roots of education are
                    bitter but the fruits are sweet.</p>
            </div>
            <div class="inner-body py-4 h-input wow bounceInUp" data-wow-duration="1.5s">
                <form class="inner-input w-50 d-flex mx-auto position-relative shadow">
                    <input type="text" name="" id="" class="form-control rounded-3" placeholder="Enter your email">
                    <a href="#" class="btn-primary btn position-absolute">Subscribe</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}