<footer>
    <div class="first-part border-cus">
        <div class="container py-3">
            <div class="row row__first py-5">
                <div class="col-xl-5 col-12 wow slideInLeft" data-wow-duration="1.5s">
                    <div class="inner-wrap">
                        <p class="inner-title">K_Lop</p>
                        <p class="inner-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint autem
                            accusantium
                            laudantium deleniti.</p>
                        <div class="inner-icon">
                            <a href=""><i class="fa-solid "></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-1 fixed d-none d-xl-block"></div>
                <div class="col-xl-2 mb-3 col-lg-6 col-md-6 col-sm-6 col-12 wow bounceInDown" data-wow-duration="3s">
                    <div class="inner-wrap">
                        <p class="inner-title mb-2">Links</p>
                        <a href="" class="d-block">Home</a>
                        <a href="" class="d-block">About Us</a>
                        <a href="" class="d-block">Our Process</a>
                        <a href="" class="d-block">Services</a>
                    </div>
                </div>
                <div class="col-xl-2 mb-3 col-lg-6 col-md-6 col-sm-6 col-12 wow bounceInDown" data-wow-duration="4.5s">
                    <div class="inner-wrap">
                        <p class="inner-title mb-2">Community</p>
                        <a href="" class="d-block">Go Premium</a>
                        <a href="" class="d-block">Team Plane</a>
                        <a href="" class="d-block">Refer a Friend</a>
                        <a href="" class="d-block">Gift Cards</a>
                    </div>
                </div>
                <div class="col-xl-2 mb-3 col-lg-6 col-md-6 col-sm-6 col-12 wow slideInRight" data-wow-duration="4s">
                    <div class="inner-wrap">
                        <p class="inner-title mb-2">Resources</p>
                        <a href="" class="d-block">Support</a>
                        <a href="" class="d-block">Lasted Updates</a>
                        <a href="" class="d-block">Updates News</a>
                        <a href="" class="d-block">Flow Management</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="second-part py-3">
        <div class="container">
            <div class="inner-wrap d-flex justify-content-between align-items-center wow fadeInLeft"
                data-wow-duration="2s">
                <p class="m-0 fw-bolder">Copyright Ki_Lop 2023, All right Reserved</p>
                <i class="fa-solid fa-arrow-alt-circle-up btn" id="scrollToTop"></i>
            </div>
        </div>
    </div>
</footer>